<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
        <add key="ot.workfile" value="D:\Company\Documents\OT-DOC\data-migrate\加班记录.xlsx"/>
        <add key="ot.offsetfile" value="D:\Company\Documents\OT-DOC\data-migrate\补休扣减的加班记录（含补休记录）.xlsx"/>
        <add key="test" value="yes"/> <!-- 测试值为yes，核对员工有错也会继续下一步-->
</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
<connectionStrings>
  <add name="OTEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=//127.0.0.1:1521/ORCL;password=ot;persist security info=True;user id=C#ot&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>